@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  line-height: 200%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  height: 200rem;
  background-color: #e9e9e9;
  font-family: 'Lato', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: #e9e9e9;
}

header .logo {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 3.5rem;
  color: #000;
  text-decoration: none;
}

header .logo:hover {
  color: #dd0c36;
}

header .search {
  position: relative;
  width: 300px;
  height: 40px;
}

header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background: transparent;
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}

header .search input::placeholder {
  color: #000;
  font-size: 1.8rem;
}

header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #000;
  border-right: 1px solid #000;
  padding-right: 10px;
  cursor: pointer;
  font-size: 1.8rem;
}

header .search .fa-search:hover {
  color: #dd0c36;
}

section {
  padding: 2rem 9%;
}

.home {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.home .content {
  text-align: center;
}

.home .content h1 {
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 8rem;
}

.home .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.70);
  background-color: #102a63;
}

.hotel .box-container .box {
  display: flex;
  flex: 1 1 30rem;
  border-radius: .5rem;
  box-shadow: 0 .1rem .5rem .1rem rgba(0, 0, 0, .1);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hotel .box-container .box .image {
  width: 30%;
  object-fit: cover;
  margin-top: 3rem;
  border-radius: .3rem;
  cursor: pointer;
}

.hotel .box-container .box .image:hover {
  filter: brightness(0.80);
}

.hotel .box-container .box .content {
  padding: 2rem;
}

.hotel .box-container .box .content p {
  font-size: 2.1rem;
  text-align: left;
  color: rgb(26, 21, 21);
  padding: 1rem 0;
  line-height: 2.2rem;
}

.hotel .box-container .box .content .title {
  font-size: 2.5rem;
  color: #000;
  font-weight: 700;
}

.hotel .box-container .box .content .stars i {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1a3b83;
}

.hotel .box-container .box .content .review {
  font-size: 1.8rem;
  color: #000;
}

.hotel .box-container .content .btn {
  color: #fff;
  display: inline-block;
  margin-top: 1.4rem;
  background: #1a3b83ed;
  padding: .6rem 3rem;
  border-radius: 5rem;
  border: .2rem solid #1a3b83;
  cursor: pointer;
  font-size: 1.8rem;
  width: 20rem;
  text-transform: capitalize;
}

.hotel .box-container .content .btn:hover {
  background: #9d5e6b31;
  color: #1a3b83;
}

@media (max-width:1200px) {
  html {
    font-size: 55%;
  }

  .hotel .box-container .box {
    display: block;
  }

  .hotel .box-container .box .image {
    height: 20rem;
    width: 100%;
  }
}

@media (max-width:991px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
  }

  header .logo {
    padding-bottom: 20px;
  }

  section {
    padding: 2rem;
  }

  .home .content h1 {
    margin-top: 14rem;
  }
}

@media (max-width:600) {
  header .search {
    width: 100%;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .hotel .box-container .box {
    display: block;
  }
}
