@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  height: 200rem;
  background-color: #131516;
}

section {
  padding: 2rem 9%;
}

h1 {
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
  padding: 2rem;
}

h2,
.title {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #ff6483;
  padding-bottom: 2rem;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.sub-title {
  padding: 2.5rem;
  font-size: 2rem;
  color: #ff6483;
  font-weight: 700;
}

.btn {
  display: inline-block;
  margin-top: 1.4rem;
  background: #ad4d60;
  padding: .8rem 3rem;
  border: .2rem solid #ff6483;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #9d5e6b31;
  color: #983347;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: #131516;
}

header .logo {
  position: relative;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
}

header .logo:hover {
  color: #dc143c;
}

header .search {
  position: relative;
  width: 300px;
  height: 40px;
}

header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 10px 0 45px;
}

header .search input::placeholder {
  color: #fff;
}

header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
  cursor: pointer;
}

header .search .fa-search:hover {
  color: #dc143c;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.home .content {
  text-align: center;
}

.home .content p {
  font-size: 2.5rem;
  color: rgb(234, 234, 234);
  padding: .5rem 0;
}

.home .content .btn a {
  color: rgb(225, 219, 219);
}

.home .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.30);
}

.about-top {
  display: flex;
  flex-direction: row;
}

.about-top .box-container {
  gap: 2rem;
  margin: 1rem;
  margin-top: 5rem;
  max-width: 100vh;
}

.about-top .box-container .box {
  flex: 1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about-top .box-container .heading .title {
  text-align: justify;
}

.about-top .box-container .heading .presentation {
  font-size: 1.9rem;
  color: rgb(225, 217, 217);
  padding-right: 1rem;
}

.about-top .box-container .heading .text {
  font-size: 2rem;
  color: rgb(208, 191, 191);
  padding: 1.5rem;
  text-align: justify;
}

.about-top .box-container .heading .btn {
  background-color: #9d5e6b31;
}

.about-top .box-container .heading .btn a {
  color: rgb(225, 219, 219);
}

.about-top .box-container .heading i {
  font-size: 1.7rem;
  color: #c76377;
  padding-right: 1rem;
}

.transportation .map-top {
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.transportation .map-top .title {
  display: block;
  padding-bottom: 5rem;
}

.transportation .map-top img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  border-radius: .3rem;
}

.transportation .map-top img:hover {
  filter: brightness(0.30);
  cursor: pointer;
}

.transportation .infos p {
  font-size: 1.8rem;
  color: rgb(208, 191, 191);
  padding-top: 2rem;
}

.transportation .infos i {
  font-size: 1.7rem;
  color: #c76377;
  padding-right: 1rem;
}

@media (max-width:1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:991px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
  }

  header .logo {
    padding-bottom: 20px;
  }
  
  section {
    padding: 2rem;
  }

  .about-top {
    display: block;
  }
}

@media (max-width:600px) {
  header .search {
    width: 100%;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }
}